.single_item_main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.shop_img {
    height: 847px;
    width: 100%;
}

.page_header {
    z-index: 0;
    height: 260px;
}

.page_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.page_header h1 {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
}