.best_item {
    width: 220px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best_item img {
    margin-top: 25px;
    width: 70%;
    object-fit: contain;
}

.product_name {
    margin-top: 14px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.price {
    width: 80%;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #000000;
}