.goods {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 800px;
    height: 580px;
    margin-top: 60px;
    margin-bottom: 30px;
}